/* CONTACT BUTTONS */

#contact-main-section {
  grid-row: 2/8;
  grid-column: 5/12;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 12vh);
}

.text {
  align-self: center;
  font-size: 1.6em;
  grid-column: 2/7;
  color: rgb(56, 11, 11);
}

.location-btn {
  grid-row: 1;
}

.contact-location {
  grid-row: 1;
}

.phone-btn {
  grid-row: 2;
}

.contact-phone {
  grid-row: 2;
}

.mail-btn {
  grid-row: 3;
}

.contact-mail {
  grid-row: 3;
}

.linkedin-btn {
  grid-row: 4;
}

.contact-linkedin {
  grid-row: 4;
}

.github-btn {
  grid-row: 5;
}

.contact-github {
  grid-row: 5;
}

.contact {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgb(32, 153, 191);
  background-color: rgb(32, 153, 191);
  margin: 4vh 1vw;
  box-shadow: none;
  align-self: center;
}

i {
  font-size: 3.0em;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}