@font-face {
  font-family: 'Montserrat'; 
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat'; 
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* CONTAINER */

.skillspage-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr)); /* minmax (0, 1fr) instead of 1fr prevents grid from stretching */
  grid-template-rows: repeat(6, 15vh);
  width: 65%;
  margin: 3vh auto;
  background-color: rgb(255, 255, 255);
  height: 94vh;
  border-radius: 20px;
  border: 2px solid rgb(32, 153, 191);
}

/* IMAGE */

.skillspage-section-image-specific {
  grid-row: 1/2;
  grid-column: 1/4;
  margin: 3vh 1.2vw;
}

img.skillspage-section-image-specific {
  border-radius: 10px;
  width: 13.5vw;
  height: 5vw;
}

/* NAME AND JOB TITLE */

.skillspage-section-name {
  grid-row: 2;
  grid-column: 1/4;
}

.skillspage-section-name-h1 {
  text-align: center;
  font-size: 1.5em;
  color: rgb(112, 112, 112);
  margin-bottom: -0.5em;
}

.skillspage-section-name-subtitle {
  text-align: center;
  font-size: 1.0em;
  color: rgb(32, 153, 191);
}

/* SKILLS TITLE */

.skillspage-section-title {
  grid-row: 1;
  grid-column: 11;
  align-self: flex-end;
  color: rgb(32, 153, 191);
  font-size: 1.5em;
}

/* MENU BUTTONS */

.skillspage-section-menubuttons {
  display: flex;
  flex-direction: column;
  grid-row: 3/7;
  grid-column: 1;
  align-self: flex-end;
}

.skillspage-section-buttons-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(32, 153, 191);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(32, 153, 191);
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(138,138,138,1);
  -moz-box-shadow: 10px 10px 10px 0px rgba(138,138,138,1);
  box-shadow: 10px 10px 10px 0px rgba(138,138,138,1);
  transition: all .3s ease-in-out;
  outline: none;
  text-decoration: none;
  width: 10vw;
  height: 6vh;
  margin: 2vh 0 1vh 2vw;
}

.skillspage-section-buttons-btn:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(32, 153, 191);
  color: rgb(255, 255, 255);
  outline: none;
  text-decoration: none;
}

/* SKILLS BUTTONS */

.skillspage-section-skillbuttons {
  grid-row: 3/7;
  grid-column: 4/12;
  text-align: right;
}

.skillspage-section-skillbuttons-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgb(32, 153, 191);
  background-color: rgb(32, 153, 191);
  margin: 2vh 1vw;
  box-shadow: none;
}

/* LOGOS */

i {
  font-size: 7em;
  color: rgb(255, 255, 255);
}

.fa-sass {
  padding-left: 0.1em;
}