@font-face {
  font-family: 'Montserrat'; 
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat'; 
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat'; 
  src: url(../fonts/Montserrat-Medium.ttf);
  font-style: medium;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 300px) {
  body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  
  .mainpage__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 3vh auto;
    background-color: white;
    height: 94vh;
    border-radius: 20px;
    border: 2px solid rgb(32, 153, 191);
    width: 100%;
  }
  
  .logo {
    padding: 0 0 25vh 0;
  }
  
  .mainpage__name .mainpage__jobtitle {
    height: 12vh;
  }
  
  .mainpage__name--h1 {
    font-size: 1.8rem;
    margin: 1.0vh 0 1.0vh 0;
    color: rgb(112, 112, 112);
  }
  
  .mainpage__jobtitle--h3 {
    color: rgb(32, 153, 191);
    font-size: 1.3rem;
    margin: 0 0 2vh 0;
  }
  
  .menu__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-style: medium;
    color: rgb(32, 153, 191);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(32, 153, 191);
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(138,138,138,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(138,138,138,1);
    box-shadow: 5px 5px 5px 0px rgba(138,138,138,1);
    transition: all .3s ease-in-out;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    width: 60vw;
    height: 7vh;
    margin: 3vw 17vw;
  }
  
  .menu__button:hover {
    background-color: rgb(32, 153, 191);
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    outline: none;
    text-decoration: none;
  }
  
  .menu {
    padding-bottom: 4vh;
  }
}

@media screen and (min-width: 600px) {
  .mainpage__container {
    width: 100%;
  }

  .mainpage__name--h1 {
    font-size: 1.9rem;
    margin: 1.0vh 0 1.0vh 0;
  }
  
  .mainpage__jobtitle--h3 {
    font-size: 1.4rem;
    margin: 0 0 2vh 0;
  }

  .menu__button {
    font-size: 1.4rem;
    width: 80vw;
    height: 6vh;
    margin: 2.5vw 9vw;
  }

  .menu {
    padding-bottom: 3vh;
  }
}

@media screen and (min-width: 768px) {
  .mainpage__container {
    width: 100%;
  }

  .mainpage__name--h1 {
    font-size: 2.4rem;
  }
  
  .mainpage__jobtitle--h3 {
    font-size: 1.5rem;
  }

  .menu {
    margin-top: 1vh;
  }

  .menu__button {
    font-size: 1.1rem;
    width: 20vw;
    height: 6vh;
    margin: 1vw;
  }
}

@media screen and (min-width: 1200px) {
  .mainpage__container {
    width: 85%;
  }
  
  .mainpage__name--h1 {
    font-size: 3.0rem;
  }
  
  .mainpage__jobtitle--h3 {
    font-size: 1.8rem;
  }

  .menu__button {
    font-size: 1.3rem;
    width: 200px;
    height: 70px;
  }
}

@media screen and (min-width: 1600px) {
  .mainpage__container {
    width: 65%;
  }

  .mainpage__name--h1 {
    font-size: 3.2rem;
  }
  
  .mainpage__jobtitle--h3 {
    font-size: 2rem;
  }

  .menu__button {
    font-size: 1.4rem;
    width: 225px;
  }
}