/* SKILLS BUTTONS */

.skillbutton__container {
  display: flex;
  flex-wrap: wrap;
  grid-row: 2/5;
  grid-column: 4/12;
  justify-content: center;
}

.skill-outer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 40px 0;
  perspective: 150px;
  margin: 0 1.5vw;
  background-color: transparent;
}

.skill-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.skill-outer:hover .skill-inner {
  transform: rotateY(180deg);
}

.skillbutton {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 16px;
  backface-visibility: hidden;
  border: 1px solid rgb(32, 153, 191);
  background-color: rgb(32, 153, 191);
  outline: none;
  cursor: pointer;
}

.skillbutton--front {
  background: rgb(32, 153, 191);
}

.skillbutton--back {
  background: rgb(32, 153, 191);
  transform: rotateY(180deg);
}

/* LOGOS */

i {
  font-size: 7em;
  color: rgb(255, 255, 255);
}

.fa-sass {
  padding-left: 0.1em;
}

/* OTHER SKILLS */

.other__skills--container {
  color: rgb(112, 112, 112);
  grid-row: 5/7;
  grid-column: 5/11;
  justify-content: center;
}

.other__skils--title {
  font-size: 1.1em;
}

.other__skils--text {
  font-size: 0.9em;
  line-height: 1.5em;
}

.languages {
  color: rgb(112, 112, 112);
  grid-row: 6;
  grid-column: 5/11;
  padding-top: 1.2em;
}

.languages__title {
  font-size: 1.1em;
}

.languages__list {
  font-size: 0.9em;
  line-height: 1.5em;
}