@font-face {
  font-family: 'Montserrat'; 
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat'; 
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* CONTAINER */

.mainpage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3vh auto;
  width: 60%;
  background-color: white;
  height: 94vh;
  border-radius: 20px;
  border: 2px solid rgb(32, 153, 191);
}

/* MAIN PAGE IMAGE */

.mainpage-section-image {
  margin: 5vh 0 0 0;
}

/* MAIN PAGE H1 TITLE */

.mainpage-section-title-specific {
  font-size: 45px;

  color: rgb(112, 112, 112);
  margin: 3.5vh 0 1.5vh 0;
}

.mainpage-section-subtitle-specific {
  font-size: 32px;
  color: rgb(32, 153, 191);
  font-style: bold;
  margin: 0 0 2vh 0;
}

/* MAIN PAGE TEXT */

.mainpage-section-introduction {
  margin: 0 3vh 0 3vh;
  color: rgb(112, 112, 112);
  font-size: 22px;
}

/* BUTTONS */

.mainpage-section-buttons-btn {
  margin: 5vh 1.5vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 25;
  font-weight: bold;
  color: rgb(32, 153, 191);
  width: 225px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(32, 153, 191);
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(138,138,138,1);
  -moz-box-shadow: 10px 10px 10px 0px rgba(138,138,138,1);
  box-shadow: 10px 10px 10px 0px rgba(138,138,138,1);
  transition: all .3s ease-in-out;
  outline: none;
  text-decoration: none;
}

.mainpage-section-buttons-btn:hover {
  background-color: rgb(32, 153, 191);
  color: rgb(255, 255, 255);
  transform: scale(1.2);
  outline: none;
  text-decoration: none;
}

