@media screen and (min-width: 300px) {
  .logo {
    width: 150px;
    height: 75px;
    perspective: 400px;
    -webkit-perspective: 400px;
  }

  .logo__container {
    height: 75px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
  }
  .face {
    position: absolute;
    background-color: rgb(32, 153, 191);
    border: 1px solid rgb(255, 251, 251);
    border-radius: 15px;
    opacity: 1;
    width: 75px;
    height: 75px;
    left: 37.5px;
    top: 0px;
    font-size: 37.5px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .front {
    transform: rotateY(0deg) translateZ(38.5px);
    -webkit-transform: rotateY(0deg) translateZ(38.5px);
    line-height: 75px;
  }
  .left {
    transform: rotateY(90deg) translateZ(38.5px);
    -webkit-transform: rotateY(90deg) translateZ(38.5px);
    line-height: 75px;
  }
  .right {
    transform: rotateY(180deg) translateZ(38.5px);
    -webkit-transform: rotateY(180deg) translateZ(38.5px);
  }
  .back {
    transform: rotateY(270deg) translateZ(37.5px);
    -webkit-transform: rotateY(270deg) translateZ(37.5px);
    line-height: 75px;
  }

  .text {
    font-size: 13px;
    word-wrap: break-word;
    line-height: 25.5px;
  }

  @keyframes rotate {
    0%    { transform: rotateY(0deg); }
    50%   { transform: rotateY(180deg); }
    100%  { transform: rotateY(360deg); }
    }
    
  @-webkit-keyframes rotate {
    0%    { -webkit-transform: rotateY(0deg); }
    50%   { -webkit-transform: rotateY(180deg); }
    100%  { -webkit-transform: rotateY(360deg); }
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 250px;
    height: 125px;
    margin: 0 0 160px 0;
  }

  .logo__container {
    height: 200px;
  }
  .face {
    width: 125px;
    height: 125px;
    left: 62.5px;
    font-size: 62.5px;
  }

  .front {
    transform: rotateY(0deg) translateZ(62.5px);
    -webkit-transform: rotateY(0deg) translateZ(62.5px);
    line-height: 125px;
  }
  .left {
    transform: rotateY(90deg) translateZ(62.5px);
    -webkit-transform: rotateY(90deg) translateZ(62.5px);
    line-height: 125px;
  }
  .right {
    transform: rotateY(180deg) translateZ(62.5px);
    -webkit-transform: rotateY(180deg) translateZ(62.5px);
  }
  .back {
    transform: rotateY(270deg) translateZ(62.5px);
    -webkit-transform: rotateY(270deg) translateZ(62.5px);
    line-height: 125px;
  }

  .text {
    font-size: 22px;
    line-height: 40px;
  }
}